
.modalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 50px;
  min-width: 800px;
  width: 910px;
  height: 75vh;
  background-color: white;
}

.modalHeader {
  position: fixed;
  right: 50px;
}

@media (max-width: 1250px) {
.modalContainer {
    width: 90%;
    height: 90%;
    min-width: unset;
  }
}

@media (max-width: 850px) {
.modalContainer {
    width: 90%;
    height: 90%;
    padding: 20px;
    min-width: unset;
  }
}