.filterSection {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    /* collapse margin */
    margin: 14px 0;
}

.subTitle {
    color: #101828;

    /* H2 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 120% */
}

.title {
    color: rgba(16, 24, 40, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 8px;
    ;
    /* 150% */
}

.filterButtonContainer {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

@media (min-width: 850px) {
    .filterButtonContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .filterButtonContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.filterButton {
    position: relative;
    height: 95px;
    min-width: 95px;
    padding: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    border-radius: 10px;
    border: 1px solid rgba(16, 24, 40, 0.20);
    mix-blend-mode: multiply;
    cursor: pointer;
}

.filterButton:hover,
.filterButton:focus {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
            rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}

.filterButtonText {
    color: #101828;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 125% */
}

.filterIcon {
    width: 32px;
    height: 32px;
}

.line {
    height: 1px;
    width: 100%;
    /* collapse margin */
    margin: 24px 0;
    background-color: rgba(16, 24, 40, 0.10);
}