.info {
    color: rgb(135, 133, 133);
    font-size: 16px;
    font-weight: 500;
    padding-top: 100px;
    width: 100%;
    text-align: center;
}

.warning {
    color:orange;
    font-weight: 500;
    padding-top: 100px;
    width: 100%;
    text-align: center;
}

.error {
    color: brown;
    font-weight: 500;
    padding-top: 100px;
    width: 100%;
    text-align: center;
}